<div class="main-wrapper">

  <%= render :partial => 'spree/shared/header' %>

  <!-- <%= taxon_breadcrumbs(@taxon) %>
  <%= render :partial => 'spree/shared/sidebar' if content_for? :sidebar %> -->
  <%= flash_messages %>
  <%= yield %>
  <%= yield :templates %>
  <div class="divide60"></div>
  <%= render :partial => 'spree/shared/footer' %>

</div>
