<% if flash[:alert] %>
  <div class="flash errors"><%= flash[:alert] %></div>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-offset-2 col-xs-8">
      <div id="new-customer" class="panel panel-default">
        <div class="panel-heading">
          <h3><%= Spree.t(:forgot_password) %></h3>
          <p><%= Spree.t(:instructions_to_reset_password) %></p>
        </div>
        <div class="panel-body">
          <%= form_for Spree::User.new, as: :spree_user, url: spree.reset_password_path do |f| %>
            <div class="form-group">
              <%= f.label :email, Spree.t(:email) %><br />
              <%= f.email_field :email, class: 'title form-control' %>
            </div>
            <div class="actions">
              <%= f.submit Spree.t(:reset_password), class: 'btn btn-success btn-block' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
