<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
  <head data-hook="inside_head">
    <%= render :partial => 'spree/shared/head' %>
  </head>
  <body class="<%= body_class %> test" id="<%= @body_id || 'default' %>" data-hook="body">

    <%= render layout_partial %>
  <script type="text/javascript">
          /* Typed
              ================================================== */
              $(".element").each(function(){
                  var $this = $(this);
                  $this.typed({
                  strings: $this.attr('data-elements').split(','),
                  typeSpeed: 100, // typing speed
                  backDelay: 3000 // pause before backspacing
                  });
              });
      </script>
    <script>$(".video-section").background({
            source: {
                poster: "img/typing_cover.jpg",
                mp4: "<%= image_url('video/Aerial_Haus_Nashville.mp4') %>"
            }
        });
      </script>
  </body>
</html>
