<%= render partial: 'spree/shared/error_messages', locals: { target: @user } %>
<div class="divide80"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">

            <div role="tabpanel" class="login-regiter-tabs">
              <ul class="nav nav-tabs">
                  <li class="active"><a href="#login1" data-toggle="tab"><%= Spree.t(:login) %></a></li>
                  <li><a href="#guest2" data-toggle="tab"><%= Spree.t(:guest_user_account) %></a></li>
              </ul>

              <div class="tab-content">
                <div class="tab-pane active" id="login1">
                  <%= render partial: 'spree/user_sessions/login' %>
                </div>
                <div class="tab-pane" id="guest2">
                  <% if Spree::Config[:allow_guest_checkout] %>
                    <% if flash[:registration_error] %>
                      <div class='flash error'><%= flash[:registration_error] %></div>
                    <% end %>
                    <%= form_for @order, url: update_checkout_registration_path, method: :put, html: { id: 'checkout_form_registration' } do |f| %>
                      <div class="form-group">
                        <%= f.label :email, Spree.t(:email) %>
                        <%= f.email_field :email, class: 'title form-control' %>
                      </div>
                      <div class="pull-right">
                        <%= f.submit Spree.t(:continue), class: 'btn btn-theme-dark btn-lg' %>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
          </div>
      </div>
  </div>
</div>
