<div class="divide80"></div>
  <div class="container">

      <div class="center-heading">
          <h2>Our projects</h2>
          <span class="center-line"></span>
      </div>

      <ul class="filter list-inline">
          <li><a class="active" href="#" data-filter="*">Show All</a></li>
          <li><a href="#" data-filter=".commercial">Commercial Real Estate</a></li>
          <li><a href="#" data-filter=".residential">Residential Real Estate</a></li>
          <li><a href="#" data-filter=".event">Events</a></li>
          <li><a href="#" data-filter=".other">Other</a></li>
      </ul>
      <div class="row">
          <div class="portfolio-box iso-call col-4-space">
              <% @projects.each do |project| %>
                <div class="project-post <%= project.category %>">
                    <div class="item-img-wrap ">
                          <%= project.photos.first.url do |photo| %>
                            <%= image_tag photo.image.url(:medium), class: "img-responsive" %>
                          <% end %>

                        <div class="item-img-overlay">
                          <%= project.photos.first do |photo| %>
                            <%= image_tag photo.image.url(:medium), class: "img-responsive" %>
                          <% end %>
                        </div>
                    </div>
                    <div class="work-desc">
                        <h3><%= link_to project.title, project %></h3>
                        <span><%= project.created_at.strftime('%A, %B, %d') %></span>
                    </div><!--work desc-->
                </div><!--project post-->
              <% end %>
          </div>
      </div>
      <% if can? :manage, @project %>
        <p>
          <%= link_to "New Project", new_project_path, class: 'btn btn-lg btn-theme-bg' %>
        </p>
      <% end %>
  </div><!--container-->
