<%
  paginated_products = @searcher.retrieve_products if params.key?(:keywords)
  paginated_products ||= products
%>


<% content_for :head do %>
  <% if paginated_products.respond_to?(:total_pages) %>
    <%= rel_next_prev_link_tags paginated_products %>
  <% end %>
<% end %>

<div data-hook="products_search_results_heading">
  <% if products.empty? %>
    <div data-hook="products_search_results_heading_no_results_found">
      <%= Spree.t(:no_products_found) %>
    </div>
  <% elsif params.key?(:keywords) %>
    <div data-hook="products_search_results_heading_results_found">
      <h6 class="search-results-title"><%= Spree.t(:search_results, keywords: h(params[:keywords])) %></h6>
    </div>
  <% end %>
</div>

<div class="container">
  <div class="row">
      <div class="col-md-12">
          <div class="center-heading">
              <h2>Carousel Style 2</h2>
              <span class="center-line"></span>
          </div><!--center-heading-->
      </div>
  </div><!--row-->
  <div class="row">
      <div class="col-md-12">
          <div id="work-carousel" class="owl-carousel owl-spaced">
              <div>

                  <div class="item-img-wrap ">
                      <img src="img/img-1.jpg" class="img-responsive" alt="workimg">
                      <div class="item-img-overlay">
                          <a href="img/img-1.jpg" class="show-image">
                              <span></span>
                          </a>
                      </div>
                  </div> <!--item img wrap-->
                  <div class="work-desc">
                      <h3><a href="portfolio-single.html">woo Commerce</a></h3>
                      <span>Magento</span>
                  </div><!--work desc-->
              </div><!--owl item-->
              <div>
                  <div class="item-img-wrap ">
                      <img src="img/img-2.jpg" class="img-responsive" alt="workimg">
                      <div class="item-img-overlay">
                          <a href="img/img-2.jpg" class="show-image">
                              <span></span>
                          </a>
                      </div>
                  </div>
                  <div class="work-desc">
                      <h3><a href="portfolio-single.html">Web Develop</a></h3>
                      <span>Php / Wordpress</span>
                  </div><!--work desc-->
              </div><!--owl item-->
              <div>
                  <div class="item-img-wrap ">
                      <img src="img/img-3.jpg" class="img-responsive" alt="workimg">
                      <div class="item-img-overlay">
                          <a href="img/img-3.jpg" class="show-image">
                              <span></span>
                          </a>
                      </div>
                  </div>
                  <div class="work-desc">
                      <h3><a href="portfolio-single.html">Web Design</a></h3>
                      <span>HTML5 / CSS3</span>
                  </div><!--work desc-->
              </div><!--owl item-->
              <div>
                  <div class="item-img-wrap ">
                      <img src="img/img-4.jpg" class="img-responsive" alt="workimg">
                      <div class="item-img-overlay">
                          <a href="img/img-4.jpg" class="show-image">
                              <span></span>
                          </a>
                      </div>
                  </div>
                  <div class="work-desc">
                      <h3><a href="portfolio-single.html">Graphics Design</a></h3>
                      <span>Corel Drow</span>
                  </div><!--work desc-->
              </div><!--owl item-->
              <div>
                  <div class="item-img-wrap ">
                      <img src="img/img-5.jpg" class="img-responsive" alt="workimg">
                      <div class="item-img-overlay">
                          <a href="img/img-5.jpg" class="show-image">
                              <span></span>
                          </a>
                      </div>
                  </div>
                  <div class="work-desc">
                      <h3><a href="portfolio-single.html">Psd Design</a></h3>
                      <span>Photoshop</span>
                  </div><!--work desc-->
              </div><!--owl item-->
              <div>
                  <div class="item-img-wrap ">
                      <img src="img/img-6.jpg" class="img-responsive" alt="workimg">
                      <div class="item-img-overlay">
                          <a href="img/img-6.jpg" class="show-image">
                              <span></span>
                          </a>
                      </div>
                  </div>
                  <div class="work-desc">
                      <h3><a href="portfolio-single.html">Logo Design</a></h3>
                      <span>Illustrate</span>
                  </div><!--work desc-->
              </div><!--owl item-->
          </div>

      </div>
  </div><!--row-->
</div>

<section class="new-arrivals">
  <div class="container">
    <% if products.any? %>
      <h2 class="section-heading">
        Featured Products
      </h2>
        <div id="owl-slider" class="col-md-12">
            <% products.each do |product| %>
              <div class="item">
                <% url = spree.product_path(product, taxon_id: @taxon.try(:id)) %>
                <div id="product_<%= product.id %>" class="<%= cycle("alpha", "secondary", "", "omega secondary", name: "classes") %> item_holder" data-hook="products_list_item" itemscope itemtype="http://schema.org/Product">
                  <% cache(@taxon.present? ? [I18n.locale, current_pricing_options, @taxon, product] : [I18n.locale, current_pricing_options, product]) do %>
                  <%= link_to image_tag(product.display_image.attachment(:large), itemprop: "image"), url, itemprop: 'url' %>
                  <div class="title">
                    <%= link_to url, class: 'info', itemprop: "name", title: product.name do %>
                      <h4><%= truncate(product.name, length: 50) %></h4>
                    <% end %>
                    <h3>
                      <%= display_price(product) %>
                    </h3>
                  </div>
                  <% end %>
                </div>
              </div>
            <% end %>
            <% reset_cycle("classes") %>
        <% end %>
      </div>
  </div>
</section>
<script>
  $(document).ready(function(){
    $('.owl-carousel').owlCarousel();
  });
</script>



<% if paginated_products.respond_to?(:total_pages) %>
  <%= paginate paginated_products %>
<% end %>
