<% if flash[:alert] %>
  <div class="flash errors"><%= flash[:alert] %></div>
<% end %>
<% @content_class = 'mainContent clearfix logIn' %>
<% @body_id = 'login' %>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-offset-2 col-xs-8">
      <div id="existing-customer" class="panel panel-default">
        <div class="panel-heading"><h3><%= Spree.t(:login) %></h3></div>
        <div data-hook="login" class="panel-body">
          <%= render partial: 'spree/shared/login' %>
          <hr />
          <%= link_to Spree.t(:create_a_new_account), spree.signup_path, class:"btn btn-link" %> | <%= link_to Spree.t(:forgot_password), spree.recover_password_path, class:"btn btn-link" %>
        </div>
      </div>
    </div>
  </div>
  <div data-hook="login_extras"></div>
</div>
